{% extends "base_inside.html" %}

{% block title %}PulseSystemMonitoringStation{% endblock %}

{% block content %}

<div class="container">

    <div class="card bg-light mb-3">
        <div class="card-header text-center">
            <h4 class="text-center m-0 p-0">Dashboard</h4>
        </div>
        <div class="card-body text-center">
            <p class="m-0 p-0 mb-3">Last record id: {{ last_record.id }}<br>timestamp: {{ last_record.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</p>
            <p class="text-center m-0 p-0">Current CPU Usage: <span id="cpuUsageValue">0%</span></p>
            <p class="text-center m-0 p-0 mb-3">10min Average CPU Usage: <span id="cpuAverageValue">0%</span></p>
            <p class="text-center m-0 p-0">Current CPU Temperature: <span id="temperatureValue">0°C</span></p>
            <p class="text-center m-0 p-0 mb-3">10min Average  CPU Temperature: <span id="temperatureAverageValue">0°C</span></p>
            <p class="text-center m-0 p-0">Current RAM Usage: <span id="ramUsageValue">0%</span></p>
            <p class="text-center m-0 p-0 mb-3">10min Average  RAM Usage: <span id="ramAverageValue">0%</span></p>
            <p class="text-center m-0 p-0 mb-3">Current Disk Usage: <span id="diskUsageValue">0%</span></p>
            <p class="text-center m-0 p-0">Current Network Sent: <span id="netSentValue">0 MB</span></p>
            <p class="text-center m-0 p-0 mb-3">Current Network Received: <span id="netRecvValue">0 MB</span></p>
            <p class="m-0 p-0 mb-3">System Uptime:<br>{{ system_uptime }}</p>
            <p class="m-0 p-0">User Agent:<br>{{ user_agent }}</p>
        </div>
    </div>

    <div class="row g-4">
        <div class="col-12">
            <div class="card">
                <div class="card-header text-center">
                    <h4 class="text-center m-0 p-0">CPU Usage [%]</h4>
                </div>
                <div class="card-body text-center">
                    <canvas id="cpuChart"></canvas>
                </div>
            </div>
        </div>
    
        <div class="col-12">
            <div class="card">
                <div class="card-header text-center">
                    <h4 class="text-center m-0 p-0">CPU Temperature [°C]</h4>
                </div>
                <div class="card-body text-center">
                    <canvas id="temperatureChart"></canvas>
                </div>
            </div>
        </div>
    
        <div class="col-12">
            <div class="card">
                <div class="card-header text-center">
                    <h4 class="text-center m-0 p-0">RAM Usage [%]</h4>
                </div>
                <div class="card-body text-center">
                    <canvas id="ramChart"></canvas>
                </div>
            </div>
        </div>
    
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h4 class="text-center m-0 p-0">Network Sent [MB]</h4>
                </div>
                <div class="card-body text-center">
                    <canvas id="netSentChart"></canvas>
                </div>
            </div>
        </div>
    
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h4 class="text-center m-0 p-0">Network Received [MB]</h4>
                </div>
                <div class="card-body text-center">
                    <canvas id="netRecvChart"></canvas>
                </div>
            </div>
        </div>
    
        <div class="col-12">
            <div class="card">
                <div class="card-header text-center">
                    <h4 class="text-center m-0 p-0">Disk Usage [%]</h4>
                </div>
                <div class="card-body text-center">
                    <canvas id="diskChart"></canvas>
                </div>
            </div>
        </div>
    </div>
    
</div>

{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="module" src="{{ url_for('static', filename='js/monitoring.js') }}"></script>
{% endblock %}

