{% extends "base.html" %}

{% block title %}Rejestracja{% endblock %}

{% block content %}
<h2>Rejestracja</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <label>{{ form.username.label }}</label>
    {{ form.username(size=32) }}

    <label>{{ form.email.label }}</label>
    {{ form.email(size=32) }}

    <label>{{ form.password.label }}</label>
    {{ form.password(size=32) }}

    <label>{{ form.confirm_password.label }}</label>
    {{ form.confirm_password(size=32) }}

    {{ form.submit() }}
</form>
<a class="link" href="{{ url_for('login') }}">Masz już konto? Zaloguj się</a>
{% endblock %}
